.footer{
    background:#0B2D5C;
    color:#fff;
    padding:70px 8% 20px;
}

.footer-container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:50px;
}

.footer-about,
.footer-links,
.footer-contact{
    flex:1;
    min-width:250px;
}

.footer h3{
    margin-bottom:20px;
    font-size:24px;
}

.footer p{
    line-height:1.8;
    color:#ddd;
}

.footer-links{
    display:flex;
    flex-direction:column;
}

.footer-links a{
    color:#ddd;
    text-decoration:none;
    margin-bottom:12px;
    transition:.3s;
}

.footer-links a:hover{
    color:#4da3ff;
    transform:translateX(8px);
}

.footer-contact p{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:15px;
}

.icon{
    color:#4da3ff;
    font-size:18px;
}

.social-icons{
    display:flex;
    gap:15px;
    margin-top:25px;
}

.social-icons a{
    width:45px;
    height:45px;
    background:white;
    color:#0B2D5C;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    transition:.3s;
    font-size:18px;
}

.social-icons a:hover{
    background:#0d6efd;
    color:white;
    transform:translateY(-8px) rotate(360deg);
}

.footer-bottom{
    border-top:1px solid rgba(255,255,255,.2);
    margin-top:40px;
    padding-top:20px;
    text-align:center;
    color:#ddd;
}