/* ===========================
   Navbar
=========================== */

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 8%;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);

    animation: navbarDown .8s ease;
}

@keyframes navbarDown{
    from{
        opacity: 0;
        transform: translateY(-40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* ===========================
   Logo
=========================== */

.nav-logo {
    flex:1;
    display: flex;
    align-items: center;
}

.logo{
    height: 110px;
    width: auto;
    transition: transform 0.3s ease;
}

.logo:hover{
    transform: scale(1.05);
}

/* ===========================
   Navigation Links
=========================== */

.nav-links {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    list-style: none;
    margin: 0;
    padding: 0;

    transform: translateX(-100px);
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #0B2D5C;
    font-size: 17px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: #0d6efd;
}

/* ===========================
   Active Link
=========================== */

.nav-links a.active {
    color: #0d6efd;
    border-bottom: 2px solid #0d6efd;
    padding-bottom: 4px;
}

/* ===========================
   Dropdown
=========================== */

.dropdown {
    position: relative;
}

.dropdown span {
    cursor: pointer;
    color: #0B2D5C;
    font-size: 17px;
    font-weight: 600;
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    left: 0;

    width: 260px;

    background: white;

    border-radius: 10px;

    list-style: none;

    padding: 10px 0;

    box-shadow: 0 10px 25px rgba(0,0,0,0.15);

    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 12px 20px;
}

.dropdown-menu li:hover {
    background: #f5f5f5;
}

.dropdown-menu a {
    color: #333;
    font-size: 15px;
    font-weight: 500;
    display: block;
}

/* ===========================
   Responsive
=========================== */

@media screen and (max-width: 992px) {

    .navbar {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .logo {
        height: 80px;
        margin-bottom: 15px;
    }

    .nav-links {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .dropdown-menu {
        position: static;
        width: 100%;
        display: none;
        box-shadow: none;
        background: #f8f9fa;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
}